/* body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  background-image: url(../img/background.jpg);
}

input {
  border: 1px solid gray;
  background-color: white;
  color: black;
  padding: 14px 20px;
  margin: 8px 0;
  cursor: pointer;
}

label {
  font-size: 0.85rem;
}

.verstuur {
  border: 1px solid white;
  background-color: black;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  cursor: pointer;
} */
